@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@400;500;600;700&display=swap');

body {
    background: yellow;
    background: -webkit-radial-gradient(center, yellow, pink);
    background: -moz-radial-gradient(center, yellow, pink);
    background: radial-gradient(ellipse at center, yellow, pink);
}
.container {
    width: 1280px;
    margin: auto;
}
.quotes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.inner-quotes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    text-align: center;
    min-height: 400px;
    padding: 0 25px;
    color: gray;
    border-radius: 10px;
    background-color: #f4edea;
    border: 10px solid deeppink;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.9);
}
.inner-quotes-container p {
    font-size: 1.5rem;
    color: black;
}
.inner-quotes-container h3 {
    font-size: 2rem;
    color: black;
    font-family: "Dancing Script", cursive;
}
.quote-btn {
    padding-top: 25px;
    justify-content: space-between;
}
.btn {
    background-color: deeppink;
    color: #f4edea;
    border-color: transparent;
}
.btn.btn-info:hover {
    background-color: white;
    border-color: transparent;
}


@media (max-width: 1280px) {
    .container {
        width: 95px;
    }
}
@media (max-width: 900px) {
    .inner-quotes-container {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .inner-quotes-container p {
        font-size: 1.2rem;
    }
    .inner-quotes-container h3 {
        font-size: 1.5rem;
    }
}
